@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  word-break: break-all;
}
html {
  overflow-y: hidden;
}
html,
body {
  @apply dark:bg-blue-gray-700 dark:text-blue-gray-100 bg-gray-200 min-h-screen;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
.App {
  height: 100%;
  @apply dark:bg-blue-gray-700 dark:text-blue-gray-100 bg-gray-50 min-h-screen;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}

.main__grid {
  @apply md:p-10  p-5;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 12px;
  margin-top: 12px;
}
.folder__grid {
  @apply md:p-10  p-5;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 12px;
  margin-top: 12px;
}
h1,
h2,
h3,
h4,
h5 {
  @apply font-semibold my-2 mt-4;
}
h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
h5 {
  @apply text-sm;
}
.hljs {
  @apply rounded-md  opacity-100;
}
ul {
  list-style: disc;
}
code {
  @apply bg-gray-300 dark:bg-blue-gray-800 rounded-md px-1;
}
blockquote {
  @apply border-l-4 pl-2 mt-2;
}
hr {
  @apply mt-4 dark:opacity-25;
}
ul li {
  list-style: none;
}
.mini_mdx * {
  @apply md:text-[0.4rem] text-[0.5rem] m-auto pointer-events-none;
}
.mini_mdx pre {
  margin: 0.3rem;
}
.mini_mdx button {
  display: none;
}
.mini_mdx blockquote {
  @apply border-l pl-1 mt-1;
}
.mini_mdx pre * {
  @apply p-0 m-0 rounded-md overflow-hidden;
}
/* .mini_mdx img {
  @apply scale-50;
} */
.mini_mdx {
  @apply m-auto cursor-pointer;
  @apply rounded-md p-4 m-4 md:text-[0.3rem] text-[0.5rem] overflow-hidden bg-gray-50 dark:bg-blue-gray-600 shadow-sm sm:h-[310px] h-[70vh];
}
.rc-md-editor div {
  @apply dark:bg-blue-gray-700 dark:!text-blue-gray-50;
}
.rc-md-editor * {
  @apply border-blue-gray-300;
}
.rc-md-editor > div > div {
  @apply dark:bg-blue-gray-700;
}
.rc-md-editor {
  @apply dark:!border-blue-gray-400;
}
.section-container {
  @apply dark:!bg-blue-gray-700 dark:!text-blue-gray-50 dark:fill-blue-gray-50 focus:!outline-none focus:!border-none;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}

.defaultContextmenuArea {
  grid-row: 1;
  grid-column: 1;
  background-color: aqua;
}

.customContextmenuArea1 {
  grid-row: 1;
  grid-column: 2;
  background-color: sandybrown;
}

.customContextmenuArea2 {
  grid-row: 2;
  grid-column: 1;
  background-color: tomato;
}

.customContextmenuArea3 {
  grid-row: 2;
  grid-column: 2;
  background-color: powderblue;
}

.contextMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: auto;
  width: fit-content;
}

.optionsList {
  padding: 12px;
  min-width: 107px;
  border-radius: 4px;
}

.optionListItem {
  padding: 4px;
  border-radius: 3px;
  list-style-type: none;
}

.optionListItem:hover {
  cursor: pointer;
}

.customContextmenuArea1ListWrapper {
  background-color: aqua;
}

.customContextmenuArea1ListItem {
  list-style-type: disclosure-closed;
}

.customContextmenuArea1ListItem:hover {
  background-color: sandybrown;
}

.customContextmenuArea2ListWrapper {
  background-color: #5e35b1;
}

.customContextmenuArea2ListItem {
  color: white;
}

.customContextmenuArea2ListItem:hover {
  background-color: tomato;
}

.customContextmenuArea3ListWrapper {
  background-color: #ffeb3b;
}

.customContextmenuArea3ListItem {
  list-style-type: disc;
}

.customContextmenuArea3ListItem:hover {
  background-color: powderblue;
}
.react-contextmenu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #373a3c;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
